:host {
  width: 100vw;
}

.bXvGWx {
  .container {
    p {
      margin-inline: 2rem;
      max-width: unset;
    }
  }
}

.courses,
.works {
  min-width: 91vw;
  #courses-heading-container,
  #experience-heading-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &::after {
      background-image: url("data:image/svg+xml,%3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 16 16'fill='none'stroke='%23212529'stroke-linecap='round'stroke-linejoin='round'%3e%3cpathd='M2 5L8 11L14 5'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      content: "";
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
      margin-left: auto;
      transition: transform 0.2s ease-in-out;
    }
    svg {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
      margin-left: auto;
      transition: transform 0.2s ease-in-out;
      fill: rgba(153, 0, 180, 0.498);
      stroke: rgba(225, 0, 112, 0.859);
      transform: translate(0.6rem, -1rem);
      &.toggled {
        transform: translate(0.6rem, -1rem) rotate(-180deg);
      }
    }
  }
  .event {
    overflow: hidden;
    &::before {
      overflow: hidden;
    }
    .event-heading {
      overflow: hidden;
    }
  }
}

.eZsukd {
  #content-experience,
  #content-courses {
    #timeline,
    #timeline-courses {
      :first-child {
        margin-top: 0.25rem;
      }
      .event {
        border-left-width: 0;
        &::before {
          transform: translate(-58%, 0.25rem);
        }
      }
    }
    #timeline-head,
    #timeline-head-courses {
      h2 {
        width: fit-content;
        margin: -1.25rem 0 0 2.5rem;
      }
    }
  }
  #courses-heading-container {
    margin-bottom: 0.25rem;
  }
}

.projects {
  .fSfeIW {
    text-align: left;
    width: 70vw;
    transform: translateX(-13.75vw);
    margin-bottom: 3rem;
  }
}

.hiOkY {
  align-items: flex-end;
  ul {
    padding-left: 6vw;
  }
}

.main-container {
  height: auto;
}

#courses {
  transform: translateY(-0.75rem);
}

#description {
  b {
    font-weight: 650;
  }
  strong {
    font-weight: 800;
  }
  em {
    font-weight: 500;
  }
}

#en-us {
  font-weight: normal;
}

#fs-lang {
  border: none;
}

#main-logo {
  margin-bottom: 1rem;
}

#name-presentation {
  font-weight: 900;
}

#present-arrow-span,
#courses-arrow,
#exp-arrow {
  &:hover {
    cursor: pointer;
  }
}

#profile-img {
  width: 25rem;
  height: 25rem;
  border: outset 1rem var(--secondary);
  border-radius: 25%;
  filter: grayscale(30%);
}

#pt-br {
  font-weight: bolder;
}

#typewriter {
  margin-bottom: 1rem;
}

@media screen and (min-width: 801px) {
  .eZsukd {
    #content-experience,
    #content-courses {
      padding-block: 3rem 2.5rem;
      #timeline-head {
        h2 {
          transform: translate(0, -0.75rem);
        }
      }
    }
  }
}
