.poppins-thin {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.poppins {
  &.poppins-thin {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  &.poppins-extralight {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  &.poppins-light {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  &.poppins-regular {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  &.poppins-medium {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  &.poppins-semibold {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  &.poppins-bold {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  &.poppins-extrabold {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  &.poppins-black {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  &.poppins-thin-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  &.poppins-extralight-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  &.poppins-light-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  &.poppins-regular-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  &.poppins-medium-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  &.poppins-semibold-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  &.poppins-bold-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  &.poppins-extrabold-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  &.poppins-black-italic {
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-thin-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-extralight-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-light-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-regular-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-medium-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-semibold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-bold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-extrabold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-black-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.montserrat {
  &.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  &.montserrat-extralight {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  &.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  &.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  &.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  &.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  &.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  &.montserrat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  &.montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  &.montserrat-thin-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  &.montserrat-extralight-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  &.montserrat-light-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  &.montserrat-regular-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  &.montserrat-medium-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  &.montserrat-semibold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  &.montserrat-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  &.montserrat-extrabold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  &.montserrat-black-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.thin {
  font-style: 100;
}

.extralight {
  font-style: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-style: 600;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}
