h1,
h2,
h3,
.header {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-size: 0.875rem;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@media screen and (min-width: 800px) {
  p {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  p {
    font-size: 1.375rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 54px;
  }
}
