:host {
  overflow: hidden;
}

.eZsukd {
  #content-experience {
    #timeline {
      .event {
        border-left-width: 0;
      }
    }
    #timeline-head {
      h2 {
        margin: -1.25rem 0 0 -18.25rem;
      }
    }
  }
}
